body {
  background-image:url(images/background_image.PNG);
  background-size: cover;
}

#table-section{
  background-color: rgba(66, 57, 57, 0.7);
  /*margin-left: 15px;*/
  
  /*height:1050px;*/
}

/*.header-title th{
  -webkit-transform: rotate(311deg);
  -moz-transform: rotate(311deg);
  -o-transform: rotate(311deg);
  writing-mode: lr-tb;
}*/

tr.highligted-row.RAY:nth-child(odd) {
background-color: rgba(17, 89, 196, 0.5);
/* opacity: 0.7; */
}
.table-header-rotated td{
  width: -15px;
  height: 60px;
  /*border-top: 1px solid #dddddd;*/
  /*border-left: 1px solid #dddddd;*/
  /*border-right: 1px solid #dddddd;*/
  vertical-align: middle;
  text-align: center;
  font-size: 23px;
  color: white;
}
strong {
  text-shadow: 0 0 10px #000;
}
.table-header-rotated td:nth-child(4) {
  color: #C5FFE1;
  font-weight: bold;
}
.table-header-rotated td:nth-child(2) strong{
  font-size:115%;
}
.color-green {
  color: #56bc76;
}
tr.highligted-row.PC:nth-child(even) {
  background-color: rgb(49, 42, 42);
}
tr.highligted-row.PC:nth-child(odd) {
  background-color: rgba(49, 42, 42,0.7);
}
tr.highligted-row.PC  .btn-bldg{
  background-color: black;
  border-color: black;
}
tr.highligted-row.RAY:nth-child(even) {
background-color: rgb(17, 89, 196);
}
tr.highligted-row.RAY:nth-child(odd) {
  background-color: rgb(1, 64, 156);
}
tr.highligted-row.RD:nth-child(even) {
  background-color: rgb(13, 139, 129);
}
tr.highligted-row.RD:nth-child(odd) {
  background-color: rgba(13, 139, 129,0.7);
}
tr.highligted-row.RD  .btn-bldg{
  background-color: rgb(29, 202, 189);
  border-color: rgb(29, 202, 189);
}
tr.highligted-row.JONES:nth-child(even) {
  background-color: rgb(134, 138, 37);
}
tr.highligted-row.JONES:nth-child(odd) {
  background-color: rgba(134, 138, 37,0.7);
}
tr.highligted-row.JONES  .btn-bldg{
  background-color: rgb(197, 204, 26);
  border-color: rgb(197, 204, 26);
}
tr.highligted-row.PINEC:nth-child(even) {
  background-color: rgb(34, 26, 128);
}
tr.highligted-row.PINEC:nth-child(odd) {
  background-color: rgba(34, 26, 128,0.7);
}
tr.highligted-row.PINEC  .btn-bldg{
  background-color: rgb(56, 45, 195);
  border-color: rgb(20, 10, 138);
}
tr.highligted-row.NHA:nth-child(even) {
  background-color: rgb(128, 99, 26);
}
tr.highligted-row.NHA:nth-child(odd) {
  background-color: rgba(128, 99, 26,0.7);
}
tr.highligted-row.NHA .btn-bldg{
  background-color: rgb(221, 230, 26);
  border-color: rgb(221, 230, 26);
}
tr.highligted-row.SFT:nth-child(even) {
  background-color: rgb(17, 9, 36);
}
tr.highligted-row.SFT:nth-child(odd) {
  background-color: rgba(17, 9, 36,0.7);
}
tr.highligted-row.SFT .btn-bldg{
  background-color: rgb(71, 71, 62);
  border-color: rgb(71, 71, 62);
}
tr.highligted-row.JEKYLL:nth-child(even) {
  background-color: rgb(164, 11, 177);
}
tr.highligted-row.JEKYLL:nth-child(odd) {
  background-color: rgba(164, 11, 177,0.7);
}
tr.highligted-row.JEKYLL .btn-bldg{
  background-color: rgb(193, 58, 204);
  border-color: rgb(168, 37, 158);
}
tr.highligted-row.FAIR:nth-child(even) {
  background-color: rgb(43, 87, 32);
}
tr.highligted-row.FAIR:nth-child(odd) {
  background-color: rgb(43, 87, 32,0.7);
}
tr.highligted-row.FAIR .btn-bldg{
  background-color: rgb(81, 204, 58);
  border-color: rgb(57, 163, 37);
}

.table-header-rotated th.rotate-45{
  height: 105px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.7;
}

button.btn.btn-opaque {
  background-color: rgba(1,1,1,0.2);
  color: #fff;
  border-color: rgba(1,1,1,0.2);
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 45px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 97%;
  width: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  /*border-left: 1px groove #dddddd;
  border-right: 1px groove #dddddd;
  border-top: 1px groove #dddddd;*/
}
/*.table-header-rotated th.rotate-45:nth-child(1){
  width: 50%;
}*/

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 115px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: center;
  font-size: 27px;
  color:#222;
  line-height: 25px;
  // white-space: nowrap; /*whether to display in one line or not*/
}