body {
  background-image:url(images/background_image.PNG);
  background-size: cover;
}

#table-section{
  /*background-color: rgba(66, 57, 57, 0.4);*/
  
  /*height:1050px;*/
}

/*.header-title th{
  -webkit-transform: rotate(311deg);
  -moz-transform: rotate(311deg);
  -o-transform: rotate(311deg);
  writing-mode: lr-tb;
}*/


.table-header-rotated td{
  width: -15px;
  height: 60px;
  /*border-top: 1px solid #dddddd;*/
  /*border-left: 1px solid #dddddd;*/
  /*border-right: 1px solid #dddddd;*/
  vertical-align: middle;
  text-align: center;
  font-size: 23px;
  color: white;
}
strong {
  text-shadow: 0 0 10px #000;
}
.table-header-rotated td:nth-child(4) {
  color: #C5FFE1;
  font-weight: bold;
}
.table-header-rotated td:nth-child(2) strong{
  font-size:115%;
}
.color-green {
  color: #56bc76;
}
/*.table-header-rotated tbody tr:nth-child(odd){
  background-color: rgba(51,51,51,0.25);
}*/
tr.highligted-row.PC:nth-child(even) {
background-color: rgb(49, 42, 42);
}
tr.highligted-row.PC:nth-child(odd) {
background-color: rgb(49, 42, 42);
opacity:0.5;
}
tr.highligted-row.RAY:nth-child(even) {
background-color: rgb(17, 89, 196);
}
tr.highligted-row.RAY:nth-child(odd) {
background-color: rgb(17, 89, 196);
opacity:0.5;
}
tr.highligted-row.RD:nth-child(even) {
background-color: rgb(13, 139, 129);
}
tr.highligted-row.RD:nth-child(odd) {
background-color: rgb(13, 139, 129);
opacity:0.5;
}
tr.highligted-row.JONES:nth-child(even) {
background-color: rgb(134, 138, 37);
}
tr.highligted-row.JONES:nth-child(odd) {
background-color: rgb(134, 138, 37);
opacity:0.5;
}
tr.highligted-row.PINEC:nth-child(even) {
background-color: rgb(34, 26, 128);
}
tr.highligted-row.PINEC:nth-child(odd) {
background-color: rgb(34, 26, 128);
opacity:0.5;
}
tr.highligted-row.NHA:nth-child(even) {
background-color: rgb(128, 99, 26);
}
tr.highligted-row.NHA:nth-child(odd) {
background-color: rgb(128, 99, 26);
opacity:0.5;
}
tr.highligted-row.SFT:nth-child(even) {
background-color: rgb(17, 9, 36);
}
tr.highligted-row.SFT:nth-child(odd) {
background-color: rgb(17, 9, 36);
opacity:0.5;
}
tr.highligted-row.JEKYLL:nth-child(even) {
background-color: rgb(164, 11, 177);
}
tr.highligted-row.JEKYLL:nth-child(odd) {
background-color: rgb(164, 11, 177);
opacity:0.5;
}
tr.highligted-row.FAIR:nth-child(even) {
background-color: rgb(43, 87, 32);
}
tr.highligted-row.FAIR:nth-child(odd) {
background-color: rgb(43, 87, 32);
opacity:0.5;
}

.table-header-rotated th.rotate-45{
  height: 105px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 45px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 87%;
  width: 77%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  /*border-left: 1px groove #dddddd;
  border-right: 1px groove #dddddd;
  border-top: 1px groove #dddddd;*/
}
/*.table-header-rotated th.rotate-45:nth-child(1){
  width: 50%;
}*/

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 115px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: center;
  font-size: 30px;
  color:#222;
  // white-space: nowrap; /*whether to display in one line or not*/
}



/*.table-header-rotated tbody tr:nth-child(odd) {
background-color: rgba(51,51,51,0.25);
}
tr.highligted-row.PC {
background-color: red;
}*/